.grid {
  position: relative;
  width: 200px;
  height: 400px;
}
.grid .s4 {
  width: 200px;
  height: 400px;
}
.grid .s3 {
  width: 148.75px;
  height: 298.75px;
}
.grid .s2 {
  width: 97.5px;
  height: 197.5px;
}
.grid .s1 {
  width: 46.25px;
  height: 96.25px;
}
.grid .w4 {
  width: 200px;
}
.grid .w3 {
  width: 148.75px;
}
.grid .w2 {
  width: 97.5px;
}
.grid .w1 {
  width: 46.25px;
}
.grid .h4 {
  height: 400px;
}
.grid .h3 {
  height: 298.75px;
}
.grid .h2 {
  height: 197.5px;
}
.grid .h1 {
  height: 96.25px;
}
.grid .x3 {
  position: absolute;
  left: 153.75px;
}
.grid .x2 {
  position: absolute;
  left: 102.5px;
}
.grid .x1 {
  position: absolute;
  left: 51.25px;
}
.grid .x0 {
  position: absolute;
  left: 0px;
}
.grid .y3 {
  position: absolute;
  top: 303.75px;
}
.grid .y2 {
  position: absolute;
  top: 202.5px;
}
.grid .y1 {
  position: absolute;
  top: 101.25px;
}
.grid .y0 {
  position: absolute;
  top: 0px;
}
